<aside>
    <h2>About me and this page</h2>
    <p>
        Hello, my name is Artur and I'm a Python & Cloud Developer. Currently I'm working to
        expand my skillset by learning full-stack web development with JavaScript and associated
        tools and framework. This pseudo web app is my solution Capstone Project from dr. Angela Yu's
        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">
            Complete Full-Stack Web Development Bootcamp
        </a>
    </p>
</aside>